
DZ_C#_SEM1\Task02\bin\*.*
DZ_C#_SEM1\Task02\obj\*.*
DZ_C#_SEM1\Task02\Task02.csproj

DZ_C#_SEM1\Task04\bin\*.*
DZ_C#_SEM1\Task04\obj\*.*
DZ_C#_SEM1\Task04\Task04.csproj

DZ_C#_SEM1\Task06bin\*.*
DZ_C#_SEM1\Task06\obj\*.*
DZ_C#_SEM1\Task06\Task06.csproj

DZ_C#_SEM1\Task08\bin\*.*
DZ_C#_SEM1\Task08\obj\*.*
DZ_C#_SEM1\Task08\Task08.csproj
